explor/
.ipynb_checkpoints
fails/
corpora/
explore.py
.env
check.csv
scraped_csv_one.csv
__pycache__/
fails
corpora
.vscode
.DS_Store
.pytest_cache
.coverage
.ipynb
venv/
.idea/
presentations/
utils.py